@{
    ViewBag.Title = "EditRegion";
}

@if (Request.IsAuthenticated)
{
    <div class="well well-sm">

        <div class="row">
            <div class="col-md-12">
                <h2>Edit Region</h2>

            </div>

        </div>
    </div>
    <div></div>
}